POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=trendbench
POSTGRES_USER=trendbench
POSTGRES_PASSWORD=trendbench

CLICKHOUSE_HOST=localhost
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_DB=trendbench
CLICKHOUSE_USER=trendbench
CLICKHOUSE_PASSWORD=trendbench

BACKEND_PORT=8080
FRONTEND_PORT=5173